$colors: (
	greens-japanese-laurel: #2f7d2d,
	greens-slimy-green: #25a023,
	greens-wageningen-green: #4bb449,
	reds-persian-plum: #b41e1e,
	blues-cosmic-cobalt: #2d3a7d,
	blues-cyan-cobalt-blue: #2355a0,
	blues-slate-blue: #6b7d98,
	blues-weldon-blue: #8197b8,
	purples-purple: #7a4df3,
	purples-soft-purple: #ebe5fa,
	greys-onyx: #33383e,
	greys-independence-grey: #4b4a65,
	greys-philippine-gray: #727272,
	greys-gainsboro: #dcdae7,
	greys-silver-sand: #bbb8ca,
	greys-platinum: #e7e7e7,
	greys-anti-flash-grey-white: #f2f2f2,
	whites-ghost-white: #f6f8fa,
	whites-white: #fefefe,
	blacks-chinese-black: #14131b,
	blacks-harsh-black: #0e0d14,
	blacks-raisin-black: #1b1a29,
	blacks-yankees-black-blue: #242337,
	blacks-dark-gunmetal: #202428,
	greens-nyanza: #e6ffdd,
	blues-light-cyan: #d7faff,
	greys-backdrop: #16161680,
	greens-sea-green: #24a1484d,
	reds-lavender-blush: #fff1f1,
	reds-maximum-red: #da1e284d,
	yellows-deep-lemon: #f1c21b,
	yellows-deep-lemon-30-p: #f1c21b4d,
	yellows-papaya-whip: #fcf4d6,
	greys-blur-grey: #f4f4f44d,
);

:export {
	@each $key, $value in $colors {
		#{unquote($key)}: $value;
	}
}
