$sizes: (
	root-font-size: 10px,
	spacing-xxs: 1px,
	spacing-xs: 2px,
	spacing-s: 4px,
	spacing-m: 8px,
	spacing-l: 16px,
	spacing-xl: 24px,
	spacing-xxl: 32px,
	spacing-xxl-2: 56px,
	spacing-xxl-3: 64px,
	spacing-xxl-4: 96px,
	spacing-xxl-5: 128px,
);
