@use 'sass:map';

@import '../../../../styles/variables.scss';

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-inline: map.get($sizes, spacing-xxl);
	padding-top: map.get($sizes, spacing-xl);
	background-color: map.get($colors, whites-ghost-white);
	border-bottom: 1px solid map.get($colors, greys-platinum);

	.headerTitleContainer {
		display: flex;
		align-items: center;
		margin-bottom: map.get($sizes, spacing-xl);

		&__icon {
			width: auto;
			height: 28px;
			margin-inline-end: map.get($sizes, spacing-m);
			fill: map.get($colors, greys-philippine-gray);
		}

		&__text {
			font-size: 2.1rem;
			font-weight: 500;
			color: map.get($colors, purples-purple);
		}
	}

	.tab {
		position: relative;
		display: flex;
		align-items: center;
		padding-bottom: map.get($sizes, spacing-l);

		&__icon {
			width: auto;
			height: 20px;
			margin-inline-end: map.get($sizes, spacing-m);
			fill: map.get($colors, greys-philippine-gray);
		}

		&__text {
			font-size: 1.5rem;
			color: map.get($colors, greys-onyx);
		}

		&__border {
			position: absolute;
			bottom: calc(-1.5 * map.get($sizes, spacing-xxs));
			width: 100%;
			height: 2px;
			background-image: linear-gradient(to left, #dc6794 128%, #9747ff 17%);
		}
	}
}

.createForm {
	display: flex;
	flex-direction: column;
	width: 708px;
	padding: map.get($sizes, spacing-xl) map.get($sizes, spacing-xxl);

	&__title {
		margin-bottom: map.get($sizes, map.get($sizes, spacing-s));
		font-size: 2.4rem;
		font-weight: normal;
		color: map.get($colors, greys-onyx);
	}

	&__subTitle {
		font-size: 1.7rem;
		color: map.get($colors, greys-independence-grey);
		white-space: nowrap;
	}

	&__divider {
		height: 2px;
		margin-block: map.get($sizes, spacing-xl);
		background-color: map.get($colors, greys-platinum);
	}

	&__labelInputLabel {
		margin-bottom: map.get($sizes, spacing-m);
		font-size: 1.7rem;
		font-weight: 500;
		color: map.get($colors, greys-onyx);
	}

	&__labelInput {
		width: 259px;
	}

	.createFormDescriptionLabel {
		display: flex;
		align-items: center;
		margin-block: map.get($sizes, spacing-l) map.get($sizes, spacing-m);

		&__text {
			margin-bottom: map.get($sizes, map.get($sizes, m));
			font-size: 1.7rem;
			font-weight: 500;
			color: map.get($colors, greys-onyx);
		}

		&__optional {
			font-size: 1.5rem;
			font-weight: 500;
			color: map.get($colors, greys-independence-grey);
		}
	}

	&__submit {
		align-self: flex-start;
		margin-top: map.get($sizes, spacing-xl);
	}
}
