@use 'sass:map';

@import '../../../../../styles/variables.scss';

.label {
	font-size: 1.7rem;
	font-weight: 500;
	color: map.get($colors, greys-onyx);
}

.inputContainer {
	display: flex;
	align-items: center;

	&__input {
		width: 354px;
		padding: map.get($sizes, spacing-m) map.get($sizes, spacing-l);
		margin-block: map.get($sizes, spacing-s);
		font-size: 1.5rem;
		color: map.get($colors, greys-philippine-gray);
		background-color: map.get($colors, whites-ghost-white);
		border: 2px solid map.get($colors, greys-platinum);
		border-radius: 6px;
		transition: 0.3s ease-in border-color;

		&::placeholder {
			opacity: 1;
		}

		&:hover,
		&:focus {
			border-color: map.get($colors, greys-silver-sand);
		}
	}

	.tooltip {
		display: flex;
		align-items: center;
		padding: map.get($sizes, spacing-s) map.get($sizes, spacing-m);
		margin-inline-start: map.get($sizes, spacing-m);
		background-color: map.get($colors, whites-white);
		border: 2px solid map.get($colors, greys-platinum);
		border-radius: 6px;

		&__icon {
			width: auto;
			height: 10px;
			margin-inline-end: map.get($sizes, spacing-m);

			&--available {
				fill: transparent;
				stroke: map.get($colors, greens-japanese-laurel);
			}

			&--unavailable {
				fill: map.get($colors, reds-persian-plum);
			}
		}

		&__text {
			font-size: 1.5rem;
			color: map.get($colors, greys-onyx);
		}
	}
}

.hint {
	margin-bottom: map.get($sizes, spacing-l);
	font-size: 1.5rem;
	font-weight: 300;
	color: map.get($colors, greys-independence-grey);
}
