@use 'sass:map';

@import '../../../../../styles/variables.scss';

.label {
	font-size: 1.7rem;
	font-weight: 500;
	color: map.get($colors, greys-onyx);
}

.hint {
	margin-bottom: map.get($sizes, spacing-l);
	font-size: 1.5rem;
	font-weight: 300;
	color: map.get($colors, greys-independence-grey);
}
