@use 'sass:map';

@use '@/styles/variables.module.scss';

.label {
	font-size: 1.7rem;
	font-weight: 500;
	color: map.get(variables.$colors, greys-onyx);
}

.hint {
	margin-bottom: map.get(variables.$sizes, spacing-l);
	font-size: 1.5rem;
	font-weight: 300;
	color: map.get(variables.$colors, greys-independence-grey);
}
