@use 'sass:map';

@import '../../../../../styles/variables.scss';

.configurationTabs {
	display: flex;

	&__tab {
		width: 50%;
		padding: map.get($sizes, spacing-m) map.get($sizes, spacing-l);
		font-size: 1.5rem;
		font-weight: 500;
		color: map.get($colors, greys-philippine-gray);
		text-align: center;
		text-decoration: none;
		border-radius: 6px;
		box-shadow: inset 0 0 0 2px map.get($colors, greys-platinum);

		&:not(:last-child) {
			margin-inline-end: map.get($sizes, spacing-xxl);
		}

		&--active {
			color: map.get($colors, greys-onyx);
			box-shadow: inset 0 0 0 2px map.get($colors, greys-onyx);
		}
	}
}
