@use 'sass:map';

@use '@/styles/variables.module.scss';

.configurationTabs {
	display: flex;

	&__tab {
		width: 50%;
		padding: map.get(variables.$sizes, spacing-m) map.get(variables.$sizes, spacing-l);
		font-size: 1.5rem;
		font-weight: 500;
		color: map.get(variables.$colors, greys-philippine-gray);
		text-align: center;
		text-decoration: none;
		cursor: not-allowed;
		border-radius: 6px;
		box-shadow: inset 0 0 0 2px map.get(variables.$colors, greys-platinum);

		&:hover {
			color: map.get(variables.$colors, greys-philippine-gray);
			text-decoration: none;
		}

		&:not(:last-child) {
			margin-inline-end: map.get(variables.$sizes, spacing-xxl);
		}

		&--active {
			color: map.get(variables.$colors, greys-onyx);
			cursor: pointer;
			box-shadow: inset 0 0 0 2px map.get(variables.$colors, greys-onyx);

			&:hover {
				color: map.get(variables.$colors, greys-onyx);
				text-decoration: none;
			}
		}
	}
}
