@use 'sass:map';

@import '../../../../styles/variables.scss';

@keyframes tail {
	0% {
		width: 0;
	}
	30% {
		width: 200px;
	}
	100% {
		width: 0;
	}
}

@keyframes tailHorizontal {
	0% {
		height: 0;
	}
	30% {
		height: 120px;
	}
	100% {
		height: 0;
	}
}

@keyframes tailVertical {
	0% {
		width: 0;
	}
	25% {
		width: 70px;
	}
	100% {
		width: 0;
	}
}

@keyframes falling {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(500px);
	}
}

@keyframes fallingVerticalBreakLine {
	0% {
		transform: translateX(0);
		opacity: 1;
	}

	100% {
		transform: translateX(240px);
		opacity: 0;
	}
}

@keyframes fallingHorizontalBreakLine {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	15% {
		opacity: 1;
	}

	100% {
		transform: translateY(300px);
		opacity: 1;
	}
}

@keyframes shining {
	0% {
		width: 0;
	}
	50% {
		width: 30px;
	}
	100% {
		width: 0;
	}
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: orange;
	}
}

@keyframes moveLeft {
	0% {
		left: 31%;
	}
	100% {
		left: 11%;
	}
}

@keyframes returnMiddle {
	0% {
		left: 11%;
	}
	100% {
		left: 31%;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;

	.backgroundContainer {
		position: absolute;
		display: flex;
		justify-content: center;
		top: -300px;
		width: 970px;
		height: 1205px;
		z-index: 2;

		&__img {
			top: 0;
			width: 970px;
			height: 1205px;
			z-index: -2;
		}
	}

	.innerFirstLine {
		position: absolute;
		bottom: -68px;
		display: flex;
		align-items: center;
		transform: rotateZ(90deg);

		&__star {
			position: absolute;
			left: -25px;
			top: 3px;
			height: 5px;
			width: 100%;
			background: linear-gradient(-45deg, #755db5, #0000ff00);
			border-radius: 50%;
			filter: drop-shadow(0 0 6px #fefefe);
			animation: tail 10s linear infinite, falling 10s linear infinite;
		}

		&__firstVerticalStarBreakLine {
			position: absolute;
			left: -25px;
			top: 3px;
			height: 5px;
			width: 100%;
			background: linear-gradient(-45deg, #755db5, #0000ff00);
			border-radius: 50%;
			filter: drop-shadow(0 0 6px #fefefe);
			opacity: 0;
			animation: tailVertical 4s, fallingVerticalBreakLine 4s;
		}

		&__firstHorizontalStarBreakLine {
			position: absolute;
			left: 263px;
			top: 3px;
			height: 100%;
			width: 5px;
			background: linear-gradient(-45deg, #755db5, #0000ff00);
			border-radius: 50%;
			opacity: 0;
			filter: drop-shadow(0 0 6px #fefefe);
			animation: tailHorizontal 5s, fallingHorizontalBreakLine 5s;
			animation-delay: 1.5s;
		}

		&__secondVerticalStarBreakLine {
			position: absolute;
			left: -25px;
			top: 3px;
			height: 5px;
			width: 100%;
			background: linear-gradient(-45deg, #755db5, #0000ff00);
			border-radius: 50%;
			filter: drop-shadow(0 0 6px #fefefe);
			opacity: 0;
			animation: tailVertical 4s, fallingVerticalBreakLine 4s;
			animation-delay: 10s;
		}

		&__secondHorizontalStarBreakLine {
			position: absolute;
			left: 263px;
			top: 3px;
			height: 100%;
			width: 5px;
			background: linear-gradient(-45deg, #755db5, #0000ff00);
			border-radius: 50%;
			opacity: 0;
			filter: drop-shadow(0 0 6px #fefefe);
			animation: tailHorizontal 5s, fallingHorizontalBreakLine 5s;
			animation-delay: 11s;
		}
	}
	.innerSecondLine {
		position: absolute;
		bottom: -260px;
		display: flex;
		align-items: center;
		transform: rotateZ(90deg);
	}

	.brokeLineContainer {
		position: absolute;
		bottom: -260px;
		opacity: 1;
		animation: fadeIn 3s linear;

		.innerBrokeLine {
			position: relative;

			&__firstLineDot {
				content: '';
				position: absolute;
				bottom: 59px;
				left: -5px;
				height: 10px;
				width: 10px;
				border-radius: 50%;
				background-color: rgba(144, 114, 167, 1);
			}
			&__secondLineDot {
				content: '';
				position: absolute;
				bottom: -63px;
				right: 300px;
				height: 10px;
				width: 10px;
				border-radius: 50%;
				background-color: rgba(144, 114, 167, 1);
			}

			&__vertical {
				position: absolute;
				border: 2px dashed rgba(144, 114, 167, 1);
				width: 70px;
				transform: rotateZ(90deg);

				&--right {
					left: -35px;
					bottom: 30px;
				}

				&--left {
					right: 270px;
					top: 33px;
				}
			}

			&__horizontal {
				position: absolute;
				border: 2px dashed rgba(144, 114, 167, 1);
				width: 300px;
				right: 0px;
			}
		}
	}

	.lineDot {
		content: '';
		height: 10px;
		width: 10px;
		border-radius: 50%;
		background-color: rgba(144, 114, 167, 1);
	}

	.innerLine {
		border: 2px dashed rgba(144, 114, 167, 1);
		width: 113px;
	}

	.exlintRun {
		position: absolute;
		bottom: -190px;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 17px 0;
		width: 320px;
		background: #202428;
		box-shadow: 0px -2px 28px rgba(151, 71, 255, 0.3);
		border-radius: 5px;
		transition: box-shadow 0.9s ease-in-out;
		border: 2.5px solid #dc6794;

		&__text {
			font-size: 2.1rem;
			font-weight: 400;
			color: #fefefe;
			font-family: IBM Plex Mono, sans-serif;
		}
	}

	.cmd {
		position: absolute;
		bottom: -609px;
		z-index: 20;
		overflow: hidden;
		display: flex;
		background: #242337;
		box-shadow: 0px 0px 43px rgba(151, 71, 255, 0.5);
		border-radius: 5px;
		height: 291px;
		width: 540px;
		border: 2.5px solid #7a4df3;
	}

	.moveLeft {
		animation-name: moveLeft;
		animation-duration: 3s;
		animation-iteration-count: 1;
		left: 11%;
	}

	.positionLeft {
		left: 11%;
	}

	.positionMiddle {
		left: 31%;
	}

	.returnMiddle {
		animation-name: returnMiddle;
		animation-duration: 3s;
		animation-iteration-count: 1;
		left: 31%;
	}

	.code {
		position: absolute;
		bottom: -609px;
		right: 11%;
		z-index: 0;
		overflow: hidden;
		display: flex;
		background: #242337;
		box-shadow: 0px 0px 43px rgba(151, 71, 255, 0.5);
		border-radius: 5px;
		height: 291px;
		width: 540px;
		border: 2.5px solid #7a4df3;

		&--visible {
			opacity: 1;
			animation: fadeIn 3s linear;
		}

		&--invisible {
			opacity: 0;
			animation: fadeOut 1s linear;
		}

		.innerCode {
			display: flex;
			justify-content: flex-start;
			padding: 20px;
			width: 100%;
			height: 100%;

			&__lines {
				height: auto;
				width: 22px;
				margin-inline-end: 20px;
			}

			&__stylint {
				height: 100%;
				width: auto;
			}
			&__eslint {
				height: 100%;
				width: auto;
				opacity: 1;
				animation: fadeIn 3s linear;
			}
		}
	}
}

@media (max-width: map.get($sizes, main-ipad-width)) {
	.container {
		max-width: map.get($sizes, main-ipad-width);
		display: none;
	}
}
