@use 'sass:map';

@use '@/styles/variables.module.scss';

.rightSideContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;

	&__header {
		font-size: 4rem;
		font-weight: 700;
		color: map.get(variables.$colors, purples-purple);
	}

	&__subHeader {
		margin-bottom: map.get(variables.$sizes, spacing-xxl-2);
		font-size: 3.5rem;
		font-weight: 400;
		color: map.get(variables.$colors, purples-purple);
	}

	.rightSideExternalAuthContainer {
		display: flex;
		align-items: center;
		width: 357px;
		height: 67px;
		padding: map.get(variables.$sizes, spacing-m) map.get(variables.$sizes, spacing-xl);
		text-decoration: none;
		border-radius: 10px;

		&:not(:last-child) {
			margin-bottom: map.get(variables.$sizes, spacing-l);
		}

		&--github {
			background-color: map.get(variables.$colors, blacks-yankees-black-blue);
			border: 1.5px solid transparent;
		}

		&--google {
			background-color: map.get(variables.$colors, whites-white);
			border: 1.5px solid map.get(variables.$colors, greys-platinum);
		}

		&__brandLogo {
			height: 43.1px;
			margin-inline-end: map.get(variables.$sizes, spacing-xxl);
			object-fit: contain;
		}

		&__text {
			font-size: 1.9rem;
			font-weight: 500;

			&--github {
				color: map.get(variables.$colors, greys-anti-flash-grey-white);
			}

			&--google {
				color: map.get(variables.$colors, blacks-dark-gunmetal);
			}
		}
	}

	&__divider {
		width: 203px;
		height: 2px;
		margin-block: map.get(variables.$sizes, spacing-xxl-2);
		background-color: map.get(variables.$colors, greys-platinum);
	}

	&__permissionsDisclaimer {
		margin-bottom: map.get(variables.$sizes, spacing-m);
		font-size: 1.6rem;
		font-weight: 300;
		color: map.get(variables.$colors, greys-independence-grey);
	}

	&__policyText {
		font-size: 1.6rem;
		font-weight: 300;
		color: map.get(variables.$colors, greys-independence-grey);
		text-align: center;
	}

	&__textLink {
		color: map.get(variables.$colors, greys-independence-grey);
	}
}
