@use 'sass:map';

@import '../../../styles/variables.scss';

.container {
	padding-block: map.get($sizes, spacing-xxl-4);
}

.header {
	font-size: 3.5rem;
	color: map.get($colors, greys-onyx);
}

.text {
	margin-top: map.get($sizes, spacing-xxl);
	font-size: 2.1rem;
	color: map.get($colors, greys-onyx);
	text-align: center;
}
