.loginFormTitle {
	font-size: 4rem;
	font-weight: 700;
	color: #7a4df3;
}

.integrationsButtons {
	display: flex;
	flex-direction: column;
	margin-top: 28px;

	.githubIntegrationButton {
		display: flex;
		align-items: center;
		padding: 8px 34px 8px 14px;
		text-decoration: none;
		background-color: #242337;
		border-radius: 5px;

		&__icon {
			width: 30px;
			height: 29px;
			margin-right: 23px;
		}

		&__text {
			font-size: 1.3rem;
			font-weight: 700;
			color: #f2f2f2;
		}
	}

	.googleIntegrationButton {
		display: flex;
		align-items: center;
		padding: 8px 34px 8px 14px;
		margin-top: 13px;
		text-decoration: none;
		background-color: #fefefe;
		border-radius: 5px;

		&__icon {
			width: 29px;
			height: 29px;
			margin-right: 23px;
		}

		&__text {
			font-size: 1.3rem;
			font-weight: 700;
			color: #202428;
		}
	}
}

.signinForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 30px;
	margin-bottom: 41px;

	.dividerContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin: 28px 0 41px;

		&__line {
			width: 100%;
			border: 1.5px solid #7a4df3;
		}

		&__text {
			padding: 0 14px;
			font-size: 1.4rem;
			font-weight: 400;
			color: #7a4df3;
		}
	}

	&__errorValidationMessage {
		margin-bottom: 10px;
		font-size: 1.4rem;
		font-weight: 400;
		color: #813333;
	}

	.checkBoxContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 31px;

		&__checkBox {
			width: 16px;
			height: 16px;
			margin-right: 6px;
			background-color: #202428;
		}

		&__text {
			font-size: 1.2rem;
			font-weight: 400;
			color: #202428;
		}
	}

	.submitButton {
		align-items: center;
		width: 100%;
		padding: 19px 0;
		margin-top: 28px;
		font-size: 1.6rem;
		font-weight: 400;
		color: #fefefe;
		text-decoration: none;
		border: 1px solid;
		border-radius: 10px;
		box-shadow: 0 4px 6px rgb(0 0 0 / 5%);
	}

	&__register {
		margin-top: 28px;
		font-size: 1.4rem;
		font-weight: 600;
		color: #4b4a65;
		text-decoration: none;
	}
}
