@use 'sass:map';

@use '@/styles/variables.module.scss';

.title {
	width: 100%;
	padding-bottom: map.get(variables.$sizes, spacing-l);
	margin-bottom: map.get(variables.$sizes, spacing-l);
	font-size: 2.4rem;
	font-weight: normal;
	color: map.get(variables.$colors, greys-onyx);
	border-bottom: 2px solid map.get(variables.$colors, greys-platinum);
}

.instructionText {
	font-size: 1.5rem;
	color: map.get(variables.$colors, greys-independence-grey);
}

.input {
	margin-block: map.get(variables.$sizes, spacing-m) map.get(variables.$sizes, spacing-l);
}
