.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: fit-content;
	padding: 4px 18px;
	background-color: #e7e7e7;
	border-top: 2px solid #bbb8ca;
	border-right: 2px solid #bbb8ca;
	border-left: 2px solid #bbb8ca;
	border-radius: 10px 10px 0 0;

	.leftSideContainer {
		display: flex;
		align-items: center;

		&__text {
			font-size: 1.7rem;
			font-weight: 560;
			color: #4b4a65;
		}
	}

	.rightSideContainer {
		display: flex;
		align-items: center;

		.editFileFormatButton {
			&__icon {
				width: 24px;
				height: 24px;
				margin-right: 16px;
				fill: #33383e;
			}
		}
	}
}
