.github
.husky
.volumes
.vscode
assets
docker
node_modules
prisma/.env.*
.cz.json
.depcheckrc.json
.editorconfig
.eslintignore
.eslintrc.cjs
.gitattributes
.gitconfig
.gitignore
.git
.inflintignore
.nvmrc
.prettierignore
.prettierrc.cjs
CHANGELOG.md
commitlint.config.cjs
czvinyl.config.ts
inflint.config.ts
lint-staged.config.cjs
README.md
release.config.js
renovate.json
tsconfig.eslint.json
tsconfig.json
tsconfig.tsbuildinfo

apps/backend/tsconfig.tsbuildinfo
apps/backend/.gitignore
apps/backend/.eslintrc.cjs
apps/backend/.eslintignore
apps/backend/node_modules
apps/backend/dist
apps/backend/tsconfig.json
apps/backend/tsconfig.doc.json
apps/backend/tsconfig.eslint.json
apps/backend/.depcheckrc.json

apps/cli-backend/tsconfig.tsbuildinfo
apps/cli-backend/.gitignore
apps/cli-backend/.eslintrc.cjs
apps/cli-backend/.eslintignore
apps/cli-backend/node_modules
apps/cli-backend/dist
apps/cli-backend/tsconfig.json
apps/cli-backend/tsconfig.doc.json
apps/cli-backend/tsconfig.eslint.json
apps/cli-backend/.depcheckrc.json

apps/frontend/tsconfig.tsbuildinfo
apps/frontend/.gitignore
apps/frontend/.eslintrc.cjs
apps/frontend/.eslintignore
apps/frontend/node_modules
apps/frontend/stylelint.config.cjs
apps/frontend/dist
apps/frontend/tsconfig.eslint.json
apps/frontend/.depcheckrc.json

packages/common/tsconfig.tsbuildinfo
packages/common/.gitignore
packages/common/.eslintrc.cjs
packages/common/.eslintignore
packages/common/node_modules
packages/common/dist
packages/common/tsconfig.json
packages/common/tsconfig.eslint.json
packages/common/.depcheckrc.json