@use 'sass:map';

@import '../../../styles/variables.scss';

.container {
	padding-block: map.get($sizes, spacing-xxl);
}

.header {
	margin-bottom: map.get($sizes, spacing-xxl);
	font-size: 3.5rem;
	color: map.get($colors, greys-onyx);
}

.subTextContainer {
	display: flex;

	&__text {
		font-size: 2.1rem;
		color: map.get($colors, greys-onyx);
	}

	&__postfix {
		font-size: 2.1rem;
		color: map.get($colors, purples-purple);
	}
}
