@use 'sass:map';

@import '../../../styles/variables.scss';

.header {
	margin-bottom: 30px;
	font-size: 3.5rem;
	color: map.get($colors, black-text);
}

.subTextContainer {
	display: flex;

	&__text {
		font-size: 2.2rem;
		color: map.get($colors, grey-text);
	}

	&__postfix {
		font-size: 2.2rem;
		color: map.get($colors, purple-text);
	}
}
