@use 'sass:map';

@use '@/styles/variables.scss';

.container {
	display: flex;
	flex-direction: column;
	width: 370px;
	min-width: 370px;
	background-color: map.get(variables.$colors, whites-white);
	border-inline-end: 2px solid map.get(variables.$colors, greys-platinum);

	&__divider {
		height: 2px;
		background-color: map.get(variables.$colors, greys-platinum);
	}
}

.actionsContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: map.get(variables.$sizes, spacing-l) map.get(variables.$sizes, spacing-xxl);

	&__searchInput {
		width: 100%;
		margin-inline-end: map.get(variables.$sizes, spacing-m);
	}
}

.noGroupsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: map.get(variables.$sizes, spacing-xxl);
	margin-top: map.get(variables.$sizes, spacing-xxl-3);

	&__header {
		margin-bottom: map.get(variables.$sizes, spacing-xl);
		font-size: 2.4rem;
		font-weight: 500;
		color: map.get(variables.$colors, blacks-dark-gunmetal);
	}

	&__img {
		height: 113px;
		object-fit: contain;
	}
}
