.container {
	position: relative;
	width: 200px;

	.buttonContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 10px 14px;
		background-color: #fefefe;
		border: 2px solid #e7e7e7;

		&--tooltipIsVisible {
			border-start-start-radius: 10px;
			border-start-end-radius: 10px;
		}

		&--tooltipIsInvisible {
			border-radius: 10px;
		}

		&__text {
			font-size: 1.5rem;
			font-weight: 360;
			color: #4b4a65;
			white-space: nowrap;
		}

		&__arrow {
			width: auto;
			height: 8px;
			fill: transparent;
			stroke: #202428;
			stroke-linecap: round;
			stroke-width: 2;
			transition: transform 0.3s ease;

			&--tooltipIsVisible {
				transform: rotate(90deg);
			}
		}
	}

	.optionsContainer {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		padding: 10px 14px;
		background-color: #fefefe;
		border: 2px solid #e7e7e7;
		border-top: none;
		border-end-start-radius: 10px;
		border-end-end-radius: 10px;

		&__option {
			font-size: 1.5rem;
			font-weight: 360;
			color: #4b4a65;
		}
	}
}
