@use 'sass:map';

@import '../../../styles/variables.scss';

.multiConfigurations {
	display: flex;
	flex-direction: column;

	&__header {
		display: flex;
		flex-direction: column;
		padding: map.get($sizes, spacing-l) 0;
	}

	&__body {
		height: 400px;
		overflow-y: auto;
	}
}

.item {
	&__divider {
		width: 100%;
		margin: map.get($sizes, spacing-xl) 0;
		border: 1px solid map.get($colors, greys-platinum);
	}
}
