.categoryButton {
	display: flex;
	width: min-content;

	&--isSelected {
		font-size: 1.8rem;
		font-weight: 400;
		color: #7a4df3;
		white-space: nowrap;
	}

	&--notSelected {
		font-size: 1.8rem;
		font-weight: 400;
		color: #5d5b7a;
		white-space: nowrap;
	}
}

.categoryButton:not(:last-child) {
	margin-bottom: 11px;
}
