@use 'sass:map';

@use '@/styles/variables.scss';

.container {
	display: flex;
	align-items: center;

	&__hintText {
		font-size: 1.5rem;
		color: map.get(variables.$colors, greys-independence-grey);
		white-space: nowrap;
	}
}

.select {
	position: relative;
	min-width: 215px;
	margin-inline-end: map.get(variables.$sizes, spacing-m);

	.selectedOptionContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: map.get(variables.$sizes, spacing-m) map.get(variables.$sizes, spacing-l);
		background-color: map.get(variables.$colors, whites-ghost-white);
		border: 2px solid map.get(variables.$colors, greys-platinum);
		border-radius: 6px;
		transition: 0.3s ease-in background-color;

		&:hover {
			background-color: map.get(variables.$colors, greys-anti-flash-grey-white);
		}

		&--open {
			border-block-end-color: transparent;
			border-end-start-radius: 0;
			border-end-end-radius: 0;
		}

		&__text {
			font-size: 1.5rem;
			color: map.get(variables.$colors, greys-independence-grey);
			cursor: default;
		}

		&__icon {
			width: auto;
			height: 6px;
			fill: transparent;
			stroke: map.get(variables.$colors, greys-independence-grey);
		}
	}

	.optionsContainer {
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-inline: map.get(variables.$sizes, spacing-l);
		background-color: map.get(variables.$colors, whites-ghost-white);
		border: 2px solid map.get(variables.$colors, greys-platinum);

		&__option {
			padding-block: map.get(variables.$sizes, spacing-m);
			font-size: 1.5rem;
			color: map.get(variables.$colors, greys-independence-grey);
			cursor: default;

			&:not(:last-child) {
				border-bottom: 2px solid map.get(variables.$colors, greys-platinum);
			}
		}
	}
}

.datePickerValueText {
	width: 100% !important;
	padding: 0 !important;
	font-size: 1.5rem !important;
	color: map.get(variables.$colors, greys-independence-grey) !important;
	text-align: center !important;
	cursor: pointer !important;
	background-color: transparent !important;
}

.datePickerDayText {
	width: 25px !important;
	padding: map.get(variables.$sizes, spacing-s) !important;
	font-size: 1.5rem !important;
	text-align: center !important;
}

.datePickerWrapper {
	display: flex !important;
	justify-content: center !important;
	width: 132px !important;
	padding: map.get(variables.$sizes, spacing-m) map.get(variables.$sizes, spacing-l) !important;
	cursor: pointer !important;
	background-color: map.get(variables.$colors, whites-ghost-white) !important;
	border: 2px solid map.get(variables.$colors, greys-platinum) !important;
	border-radius: 6px !important;
}

.datePickerWeekDay {
	width: 25px !important;
	font-size: 1.5rem !important;
}

/* stylelint-disable-next-line selector-class-pattern */
:global(.react-datepicker__current-month) {
	margin-bottom: map.get(variables.$sizes, spacing-s) !important;
	font-size: 1.5rem !important;
}

/* stylelint-disable-next-line selector-class-pattern */
:global(.react-datepicker__navigation) {
	width: 18px !important;
	height: 18px !important;
	margin-top: map.get(variables.$sizes, spacing-m) !important;
}
