.sideBarFilters {
	display: flex;
	flex-direction: column;
	width: 20%;
	overflow-y: auto;

	.typesContainer {
		display: flex;
		flex-direction: column;

		&__title {
			margin-bottom: 21px;
			font-size: 2rem;
			font-weight: 560;
			color: #4b4a65;
		}

		.typeButton {
			display: flex;
			width: min-content;

			&__type {
				font-size: 1.8rem;
				font-weight: 460;
				color: #5d5b7a;
			}
		}

		.typeButton:not(:last-child) {
			margin-bottom: 11px;
		}
	}

	.categoriesContainer {
		display: flex;
		flex-direction: column;
		margin-top: 44px;

		&__title {
			margin-bottom: 21px;
			font-size: 2rem;
			font-weight: 560;
			color: #4b4a65;
		}

		.categoryButton {
			display: flex;
			width: min-content;

			&__category {
				font-size: 1.8rem;
				font-weight: 460;
				color: #5d5b7a;
				white-space: nowrap;
			}
		}

		.categoryButton:not(:last-child) {
			margin-bottom: 11px;
		}
	}
}
