.policyConfigurationButton {
	display: flex;
	align-items: center;
	padding: 11px 20px;
	border-radius: 10px;

	&__text {
		margin-right: 16px;
		font-size: 1.6rem;
		font-weight: 460;
		white-space: nowrap;
	}

	&__icon {
		width: 8px;
		height: 14px;
		fill: transparent;
	}
}
