.sidebar {
	display: flex;
	width: 18%;
	height: 100%;
	background-color: rgb(254 254 254 / 100%);

	.innerSidebar {
		display: flex;
		flex-direction: column;
		width: 100%;

		.headerContainer {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;

			&__title {
				padding: 21px 0;
				font-size: 2.4rem;
				font-weight: 560;
				color: rgb(75 74 101 / 100%);
			}

			&__divider {
				width: 100%;
				border: 2px solid rgb(231 231 231 / 100%);
			}
		}

		.userDetalis {
			display: flex;
			justify-content: center;
			margin-top: 30px;

			.usernameContainer {
				display: flex;
				align-items: center;

				.userProfilePicture {
					display: flex;
					margin-right: 9px;

					&__icon {
						width: 19px;
						height: 19px;
					}
				}

				&__title {
					margin-right: 5px;
					font-size: 2rem;
					font-weight: 560;
					color: rgb(139 139 139 / 100%);
				}

				&__username {
					font-size: 2rem;
					font-weight: 460;
					color: rgb(139 139 139 / 100%);
				}
			}
		}
	}
}
