.container {
	position: sticky;
	width: 100%;
	max-width: 16%;
	height: 100%;

	.sidebar {
		position: fixed;
		display: flex;
		width: 15%;
		height: 100%;
		background-color: #fefefe;
		border-inline-end: 3px solid #e7e7e7;
	}
}
