@use 'sass:map';

@import '../../../../styles/variables.scss';

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-inline: map.get($sizes, spacing-xxl);
	padding-top: map.get($sizes, spacing-l);
	background-color: map.get($colors, whites-ghost-white);
	border-bottom: 2px solid map.get($colors, greys-platinum);
}

.topHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: map.get($sizes, spacing-l);

	.labelsContainer {
		display: flex;
		align-items: center;

		.linkContainer {
			display: flex;
			align-items: center;
			text-decoration: none;
		}

		&__icon {
			width: auto;
			height: 26px;
			margin-inline-end: map.get($sizes, spacing-m);
			fill: map.get($colors, greys-philippine-gray);
		}

		&__label {
			font-size: 2.1rem;
			color: map.get($colors, purples-purple);

			&--policy {
				font-weight: 500;
			}
		}

		&__divider {
			margin-inline: map.get($sizes, spacing-m);
			font-size: 2.4rem;
			font-weight: 500;
			color: map.get($colors, greys-independence-grey);
		}
	}

	.libraryContainer {
		display: flex;
		align-items: center;

		&__prefix {
			margin-inline-end: map.get($sizes, spacing-m);
			font-size: 1.7rem;
			color: map.get($colors, greys-independence-grey);
		}

		.libraryValue {
			display: flex;
			align-items: center;
			padding: map.get($sizes, spacing-s) map.get($sizes, spacing-m);
			border-radius: 6px;
			box-shadow: inset 0 0 0 2px map.get($colors, greys-platinum);

			&__img {
				height: 19px;
				object-fit: contain;
				margin-inline-end: map.get($sizes, spacing-m);
			}

			&__text {
				font-size: 2.1rem;
				font-weight: 500;
				color: map.get($colors, greys-independence-grey);
			}
		}
	}
}
