@use 'sass:map';

@use '@/styles/variables.scss';

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: map.get(variables.$sizes, spacing-l);
	background-color: map.get(variables.$colors, whites-white);
	border: 2px solid map.get(variables.$colors, greys-platinum);
	border-radius: 6px;

	&:not(:last-child) {
		margin-bottom: map.get(variables.$sizes, spacing-l);
	}

	.ruleDetailsContainer {
		display: flex;
		width: 100%;

		.ruleDetails {
			display: flex;
			flex-direction: column;

			&:not(:last-child) {
				margin-inline-end: map.get(variables.$sizes, spacing-xxl);
			}

			%_ruleDetailsText {
				font-size: 1.5rem;
				color: map.get(variables.$colors, greys-independence-grey);
			}

			&__boldText {
				@extend %_ruleDetailsText;

				margin-bottom: map.get(variables.$sizes, spacing-m);
				font-weight: 500;
			}

			&__text {
				@extend %_ruleDetailsText;
			}
		}
	}

	.ruleActionsContainer {
		display: flex;
		align-items: center;

		&__button {
			margin-inline-end: map.get(variables.$sizes, spacing-l);
			background-color: map.get(variables.$colors, whites-ghost-white);
			border: 2px solid map.get(variables.$colors, greys-platinum);
		}

		&__buttonText {
			font-weight: normal;
			color: map.get(variables.$colors, greys-onyx);
		}

		&__buttonIcon {
			width: 14px;
			height: auto;
			fill: map.get(variables.$colors, greys-onyx);
		}
	}
}
