.createGroup {
	display: flex;
	justify-content: center;

	.innerCreateGroup {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 60px;

		&__title {
			font-size: 2.4rem;
			font-weight: 500;
			color: #202428;
		}

		.createGroupIcon {
			width: 208px;
			height: 113px;
			inset-block-start: 21px;
			background: #e7e7e7;
			border-radius: 5px;
		}
	}
}
