@use 'sass:map';

@use '@/styles/variables.scss';

.tableHeader {
	display: flex;
	flex-direction: column;
	padding: map.get(variables.$sizes, spacing-l);
	background-color: map.get(variables.$colors, whites-ghost-white);
	border-bottom: 2px solid map.get(variables.$colors, greys-platinum);

	.topHeader {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: map.get(variables.$sizes, spacing-l);

		&__text {
			font-size: 2.1rem;
			font-weight: 500;
			color: map.get(variables.$colors, blacks-dark-gunmetal);
		}
	}

	.columnsHeaders {
		display: flex;
		padding-inline: map.get(variables.$sizes, spacing-l);

		&__column {
			width: 100%;
			font-size: 1.5rem;
			color: map.get(variables.$colors, greys-philippine-gray);

			&:not(:last-child) {
				margin-inline-end: map.get(variables.$sizes, spacing-m);
			}

			&--fixed {
				width: 52px;
				min-width: 52px;
			}

			&--link {
				width: 30px;
			}
		}
	}
}
