.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: auto;

	&__divider {
		width: 80%;
		margin: 0 auto !important;
		border: 2px solid #e7e7e7;

		&:not(:last-child) {
			margin-bottom: 38px;
		}
	}
}
