@use 'sass:map';

@import '../../../../styles/variables.scss';

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 100px 0 95px;
	background: linear-gradient(180deg, #242337 0%, rgb(36 35 55 / 0%) 100%);

	&__text {
		font-size: 3.6rem;
		font-weight: 700;
		text-align: center;
		visibility: hidden;
		background: linear-gradient(270deg, #9747ff 26.96%, #fcfcfc 93.64%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;

		&--fadeIn {
			visibility: visible;
			animation: fadeIn 3s;
		}
	}
}

@media (max-width: map.get($sizes, main-ipad-width)) {
	.container {
		max-width: map.get($sizes, main-ipad-width);

		&__text {
			display: none;
		}
	}
}
