.container {
	display: flex;
	width: 100%;
	height: 100%;
	margin-top: 80px;

	.main {
		width: 100%;
		height: 100%;
		padding-block-start: 20px;
		padding-inline: 20px 0;
		background-color: #f2f2f2;

		.navigate {
			display: flex;

			&__text {
				font-size: 1.7rem;
				font-weight: 400;
				color: #4b4a65;
			}

			&__purpleText {
				font-size: 1.7rem;
				font-weight: 400;
				color: #7a4df3;
			}
		}

		.mainWrapper {
			display: flex;
			margin-block-start: 20px;

			.leftSide {
				display: flex;
				flex-direction: column;

				.leftSideContainer {
					display: flex;
					flex-direction: column;
					width: 355px;
					height: 230px;
					padding-block-start: 15px;
					background-color: #fefefe;
					border: 2px solid #e7e7e7;
					border-radius: 5px;

					&:not(:last-child) {
						margin-block-end: 20px;
					}

					.header {
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding-inline: 20px;

						&__text {
							font-size: 2.1rem;
							font-weight: 500;
							color: #202428;
						}

						&__button {
							display: flex;
							align-items: center;
							width: 83px;
							height: 45px;
							padding: 10px 15px;
							background-color: #8197b8;
							border: 1px solid #6b7d98;
							border-radius: 10px;

							.text {
								font-size: 1.7rem;
								font-weight: 400;
								color: #fefefe;
							}

							.icon {
								margin-inline-start: 10px;
								fill: none;
								stroke: #fefefe;
								stroke-linecap: round;
								stroke-width: 2;
							}
						}
					}

					.divider {
						width: 100%;
						margin-block-start: 15px;
						border: 1px solid #e7e7e7;
					}

					.body {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						margin-block-start: 10px;

						&__number {
							font-size: 4.8rem;
							font-weight: 400;
							color: #4b4a65;
						}

						&__text {
							padding-inline: 70px;
							font-size: 2.1rem;
							font-weight: 400;
							color: #4b4a65;
							text-align: center;
						}
					}
				}
			}

			.rightSide {
				display: flex;
				flex-direction: column;
				margin-inline: 20px 15px;
				background-color: #fefefe;
				border: 2px solid #e7e7e7;
				border-radius: 5px;

				.tableHeader {
					margin-block: 21px 14px;
					margin-inline-start: 13px;
					font-size: 2.1rem;
					font-weight: 500;
					color: #202428;
				}

				.newRuleButton {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 85.18px;
					height: 45px;
					font-size: 1.7rem;
					font-weight: 400;
					color: #f2f2f2;
					text-decoration: none;
					background: linear-gradient(90deg, #4f339b 3.43%, #4f339b7d 120.79%);
					border-radius: 10px;

					&__icon {
						margin-inline-start: 5px;
					}
				}

				.removeRuleButton {
					margin-inline-end: 15px;
					font-size: 1.7rem;
					font-weight: 400;
					color: #b41e1e;
					text-decoration: none;
				}

				.configButtonIcon {
					width: 20px;
					height: auto;
					fill: transparent;
					stroke: #4b4a65;
					stroke-width: 1px;
				}

				.tableContainer {
					width: 100%;
					height: 100%;
					overflow-x: hidden;
					overflow-y: auto;

					table {
						width: 100%;
						height: 100%;
						border-collapse: collapse;
					}

					thead {
						position: sticky;
						top: 0;
						padding: 2px 0;
						padding-bottom: 60px;
						border-collapse: separate;
						border-top: none !important;
						border-bottom: none !important;
						box-shadow: inset 0 2px 0 #000, inset 0 -2px 0 #000;
					}

					th {
						padding-bottom: 20px;
						font-size: 1.7rem;
						font-weight: 400;
						color: #8b8b8b;
						text-align: center;
						background-color: #fefefe;
						box-shadow: inset 0 -2px 0 #e7e7e7;

						&:first-child {
							padding-inline-start: 20px;
							text-align: left;
						}
					}

					td {
						padding: 23px 0;
						font-size: 1.7rem;
						color: #4b4a65;
						text-align: center;
						border-bottom: 2px solid #e7e7e7;

						&:first-child {
							padding-inline-start: 20px;
							text-align: left;
						}

						&:nth-last-child(1) {
							text-align: right;
						}
					}
				}
			}
		}
	}
}
