@use 'sass:map';

@import '../../../../../styles/variables.scss';

.secretsList {
	display: flex;
	flex-direction: column;

	.secretContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: map.get($sizes, spacing-l);
		border: 2px solid map.get($colors, greys-platinum);

		&:not(:last-child) {
			border-bottom: 0;
		}

		.secretDetails {
			display: flex;
			flex-direction: column;

			&__label {
				margin-bottom: map.get($sizes, spacing-s);
				font-size: 1.5rem;
				font-weight: 500;
				color: map.get($colors, purples-purple);
			}

			&__expiration {
				font-size: 1.5rem;
				color: map.get($colors, greys-onyx);
			}
		}

		.secretActions {
			display: flex;
			align-items: center;

			&__button {
				padding: map.get($sizes, spacing-m) map.get($sizes, spacing-l);
				font-size: 1.5rem;
				background-color: map.get($colors, whites-ghost-white);
				border: 2px solid map.get($colors, greys-platinum);
				border-radius: 6px;

				&--refresh {
					margin-inline-end: map.get($sizes, spacing-m);
					color: map.get($colors, greys-onyx);
				}

				&--delete {
					color: map.get($colors, reds-persian-plum);
				}
			}
		}
	}
}
