@use 'sass:map';

@use '@/styles/variables.module.scss';

.secretsList {
	display: flex;
	flex-direction: column;

	.secretContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: map.get(variables.$sizes, spacing-l);
		border: 2px solid map.get(variables.$colors, greys-platinum);

		&:not(:last-child) {
			border-bottom: 0;
		}

		.secretDetails {
			display: flex;
			flex-direction: column;

			&__label {
				margin-bottom: map.get(variables.$sizes, spacing-s);
				font-size: 1.5rem;
				font-weight: 500;
				color: map.get(variables.$colors, purples-purple);
			}

			&__expiration {
				font-size: 1.5rem;
				color: map.get(variables.$colors, greys-onyx);
			}
		}

		.secretActions {
			display: flex;
			align-items: center;

			%_secretActionButton {
				padding: map.get(variables.$sizes, spacing-m) map.get(variables.$sizes, spacing-l);
				font-size: 1.5rem;
				background-color: map.get(variables.$colors, whites-ghost-white);
				border: 2px solid map.get(variables.$colors, greys-platinum);
				border-radius: 6px;
			}

			&__refresh {
				@extend %_secretActionButton;

				margin-inline-end: map.get(variables.$sizes, spacing-m);
				color: map.get(variables.$colors, greys-onyx);
			}

			&__delete {
				@extend %_secretActionButton;

				color: map.get(variables.$colors, reds-persian-plum);
			}
		}
	}
}
