@use 'sass:map';

@import '../../../styles/variables.scss';

.container {
	display: flex;
	flex-direction: column;
	width: 100%;

	&__select {
		width: 100%;
		margin-top: map.get($sizes, spacing-l);
	}
}
