@use 'sass:map';

@import '../../../styles/variables.scss';

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.form {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;

	.formFooter {
		width: 100%;
		padding-block: map.get($sizes, spacing-xl) map.get($sizes, spacing-xxl-5);
		background-color: map.get($colors, whites-ghost-white);

		.formFooterInner {
			width: 708px;
			margin-inline: auto;

			&__divider {
				height: 2px;
				margin-block: map.get($sizes, spacing-xl);
				background-color: map.get($colors, greys-platinum);
			}
		}
	}
}
