@use 'sass:map';

@import '../../../../styles/variables.scss';

.container {
	display: flex;
	width: 1202px;
	height: calc(100vh - 186px);
	padding-block: map.get($sizes, spacing-xl) map.get($sizes, spacing-xxl-3);
	margin-inline: auto;
}

.dataContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-inline-end: map.get($sizes, spacing-xl);
}

.actionsContainer {
	display: flex;
	justify-content: space-between;

	.switchContainer {
		display: flex;
		align-items: center;

		&__instructions {
			margin-inline-start: map.get($sizes, spacing-m);
			font-size: 1.5rem;
			font-style: italic;
			color: map.get($colors, greys-onyx);
		}
	}
}

.rulesTableContainer {
	position: relative;
	height: 100%;
	margin-top: map.get($sizes, spacing-l);

	&--blur {
		border: 2px solid map.get($colors, greys-platinum);
		border-radius: 6px;
	}

	&__table {
		height: 100%;
	}

	&__removeColumn {
		color: map.get($colors, reds-persian-plum);
	}
}
