.container {
	position: absolute;
	top: 50%;
	inset-inline-start: 50%;
	width: 570px;
	height: 461px;
	border-radius: 5px;
	transform: translate(-50%, -50%);

	.deleteUserWrapper {
		display: flex;
		flex-direction: column;
		height: 100%;

		.header {
			display: flex;
			height: 37px;
			padding: 7px 0;
			background-color: #202428;
			border-radius: 5px 5px 0 0;

			&__button {
				display: flex;
				align-items: center;
				margin-inline-start: 16px;
				font-size: 1.6rem;
				font-weight: 556;
				color: #fefefe;
			}

			&__icon {
				width: 13px;
				height: auto;
				margin-inline-end: 5px;
				margin-top: 1px;
				fill: #fefefe;
			}
		}

		.body {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100%;
			background-color: #fefefe;
			border-color: #202428;
			border-style: solid;
			border-width: 0 4px 4px;
			border-radius: 0 0 5px 5px;

			&__blackExlintLogo {
				width: 80px;
				height: auto;
				margin-top: 25px;
				fill: #231f20;
			}

			&__header {
				margin-top: 15px;
				font-size: 2.5rem;
				font-weight: 457;
			}

			&__details {
				width: 70%;
				margin-top: 17px;
				font-size: 2.5rem;
				font-weight: 600;
				text-align: center;
			}

			&__actionText {
				margin-top: 25px;
				font-size: 2.5rem;
				font-weight: 600;

				&--redText {
					color: #781d1d;
				}
			}

			&__input {
				width: 50%;
				padding: 15px;
				margin-top: 15px;
				font-size: 1.6rem;
				font-weight: 600;
				color: #4b4a65;
				border: 2px solid #e7e7e7;
				border-radius: 10px;

				&::placeholder {
					font-size: 1.6rem;
					font-weight: 600;
					color: #4b4a65;
				}
			}

			&__button {
				padding: 12px 20px;
				margin: 12px 0 35px;
				font-size: 1.7rem;
				color: #fefefe;
				background-color: #202428;
				border: 2px solid #0e0d14;
				border-radius: 10px;

				&:disabled {
					color: #8b8b8b;
					background-color: #e7e7e7;
					border: 2px solid #bbb8ca;
				}
			}
		}
	}
}
