@use 'sass:map';

@use '@/styles/variables.module.scss';

.container {
	display: flex;
	align-items: center;
	padding-block: map.get(variables.$sizes, spacing-m);
	text-decoration: none;
	border-bottom: map.get(variables.$sizes, spacing-xs) solid transparent;

	&:hover {
		text-decoration: none;
	}

	&--active {
		border-bottom-color: map.get(variables.$colors, greys-platinum);
	}

	&:not(:last-child) {
		margin-inline-end: map.get(variables.$sizes, spacing-xl);
	}

	&__icon {
		width: auto;
		height: 26px;
		margin-inline-end: map.get(variables.$sizes, spacing-m);
		fill: map.get(variables.$colors, greys-platinum);
	}

	&__text {
		font-size: 1.5rem;
		font-weight: 600;
		color: map.get(variables.$colors, greys-platinum);
	}
}
