.librariesList {
	display: grid;
	grid-template-rows: auto auto auto auto auto;
	grid-template-columns: auto auto;
	grid-auto-rows: 33%; // play with this to change height of the children, 50% will fill half
	grid-auto-flow: row;
	width: 100%;
	height: 100%;
	padding-right: 15px;
	margin-left: 24px;
	overflow-x: hidden;
	overflow-y: auto;
}
