@use 'sass:map';

@import '../../../../../styles/variables.scss';

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 103px;

	.leftSide {
		display: flex;
		flex-direction: column;
		margin-inline-end: 90px;

		&__title {
			font-size: 2.4rem;
			font-weight: 600;
			background: linear-gradient(270deg, #ae72ff 66.97%, #f2f2f2 93.64%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
		}

		&__description {
			font-size: 2.8rem;
			font-weight: 700;
			color: #e7e7e7;
			margin: 16px 0;
		}

		.innerDots {
			display: flex;
			flex-direction: column;

			.lineContainer {
				display: flex;
				align-items: center;

				&__dot {
					height: 5px;
					width: 5px;
					border-radius: 50%;
					background-color: #bbb8ca;
				}

				&__text {
					margin-inline-start: 20px;
					color: #bbb8ca;
					font-size: 2rem;
					font-weight: 400;
				}
			}
		}
	}

	.rightSide {
		position: relative;
		display: flex;
		width: 662px;

		.commandBox {
			z-index: 1;
			position: absolute;
			top: -35px;
			right: -25px;
			background-color: #202428;
			padding: 17px 27px;
			box-shadow: 0 6px 71px 0 #9747ff80;
			border-radius: 5px;
			border: 2.5px solid #dc6794;

			&__text {
				font-size: 2.1rem;
				font-weight: 400;
				color: #fefefe;
				font-family: IBM Plex Mono, sans-serif;
				margin: 0 3px;
			}

			&__chevron {
				color: rgba(122, 77, 243, 1);
				font-size: 2.1rem;
				font-weight: 400;
				font-family: IBM Plex Mono, sans-serif;
			}
		}

		&__img {
			position: relative;
			width: 100%;
			height: 303.4px;
			object-position: bottom;
		}
	}
}

@media (max-width: map.get($sizes, main-ipad-width)) {
	.container {
		flex-direction: column;
		margin-top: 48px;
		border-radius: 5px;
		border: 2.5px solid #dc6794;
		padding: 16px 0;
		backdrop-filter: blur(2.5px);
		max-width: 400px;
		padding: map.get($sizes, minimal-mobile-padding);

		.leftSide {
			margin-inline-end: 0;

			&__title {
				font-size: 2.1rem;
				background: linear-gradient(270deg, #dc6794 86.97%, #f2f2f2 93.64%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
			}

			&__description {
				font-size: 2.1rem;
				margin: 24px 0;
			}

			.innerDots {
				.lineContainer {
					position: relative;

					&__dot {
						position: absolute;
						top: 10px;
					}
					&__text {
						font-size: 1.8rem;
					}
				}
			}
		}

		.rightSide {
			width: 322px;
			margin-top: 43px;

			.commandBox {
				top: -25px;
				right: -7px;
				padding: 8px 13px;
				border-width: 1px;

				&__text {
					font-size: 1rem;
					font-weight: 400;
					color: #fefefe;
					font-family: IBM Plex Mono, sans-serif;
					margin: 0 3px;
				}

				&__chevron {
					font-size: 1rem;
				}
			}

			&__img {
				height: 146px;
			}
		}
	}
}
