@use 'sass:map';

@import '../../../../styles/variables.scss';

.container {
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 100%;

	&__header {
		margin-bottom: map.get($sizes, spacing-m);
		font-size: 1.7rem;
		font-weight: 500;
		color: map.get($colors, greys-onyx);
	}

	.filtersContainer {
		display: flex;

		&__input {
			width: 493px;
			margin-inline-end: map.get($sizes, spacing-l);
			background-color: map.get($colors, whites-white);
			border: 2px solid map.get($colors, greys-platinum);
			box-shadow: 0 10px 20px 0 #00000040;
		}

		&__select {
			box-shadow: 0 10px 20px 0 #00000040;
		}
	}
}

.filtersAndLibraries {
	display: flex;
	margin-top: map.get($sizes, spacing-xxl);
}
