@use 'sass:map';

@use '@/styles/variables.module.scss';

.container {
	display: flex;
	align-items: center;
	border-top: 2px solid map.get(variables.$colors, greys-platinum);

	&__text {
		padding: map.get(variables.$sizes, spacing-l);
		font-size: 1.5rem;
		color: map.get(variables.$colors, greys-philippine-gray);

		&--total {
			width: 100%;
			border-inline-end: 2px solid map.get(variables.$colors, greys-platinum);
		}
	}

	.paginationIcon {
		display: flex;
		align-items: center;
		height: 100%;
		padding-inline: map.get(variables.$sizes, spacing-xxl);
		cursor: pointer;
		border-inline-start: 2px solid map.get(variables.$colors, greys-platinum);

		&--disabled {
			pointer-events: none;
			cursor: default;
		}

		&__icon {
			width: 7.4px;
			height: auto;
			fill: map.get(variables.$colors, greys-independence-grey);

			&--left {
				transform: rotate(180deg);
			}

			&--disabled {
				fill: map.get(variables.$colors, greys-silver-sand);
			}
		}
	}
}
