@use 'sass:map';

@use '@/styles/variables.scss';

.container {
	display: flex;
	align-items: center;

	&__input {
		width: 354px;
		margin-block: map.get(variables.$sizes, spacing-s);
	}

	.tooltip {
		display: flex;
		align-items: center;
		padding: map.get(variables.$sizes, spacing-s) map.get(variables.$sizes, spacing-m);
		margin-inline-start: map.get(variables.$sizes, spacing-m);
		background-color: map.get(variables.$colors, whites-white);
		border: 2px solid map.get(variables.$colors, greys-platinum);
		border-radius: 6px;

		&__icon {
			width: auto;
			height: 10px;
			margin-inline-end: map.get(variables.$sizes, spacing-m);

			&--available {
				fill: transparent;
				stroke: map.get(variables.$colors, greens-japanese-laurel);
			}

			&--unavailable {
				fill: map.get(variables.$colors, reds-persian-plum);
			}
		}

		&__text {
			font-size: 1.5rem;
			color: map.get(variables.$colors, greys-onyx);
			white-space: nowrap;
		}
	}
}
