.mainWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	height: 100vh;

	.tokensDetalis {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		padding: 56px 106px 0 120px;
		background-color: #f2f2f2;

		.clientIdWrapper {
			display: flex;
			align-items: center;
			width: 100%;
			height: 58px;
			padding: 20px;
			background-color: #fefefe;
			border: 2px solid #e7e7e7;
			border-radius: 5px;

			&__title {
				min-width: 72px;
				font-size: 2rem;
				font-weight: 600;
				color: #202428;
			}

			.idWrapper {
				display: flex;
				align-items: center;
				margin-inline-start: 25px;
				border: 1px solid #bbb8ca;
				border-radius: 5px;

				&__id {
					padding: 8px;
					font-size: 1.5rem;
					color: #8b8b8b;
				}

				&__icon {
					margin-inline-end: 8px;
					cursor: pointer;
					fill: #8b8b8b;

					&--disabled {
						pointer-events: none;
						cursor: context-menu;
					}
				}

				&__copied {
					margin-inline-start: 15px;
					font-size: 1.8rem;
					color: #2355a0;
				}
			}
		}

		.secretsWrapper {
			width: 100%;
			max-height: 90%;
			margin-top: 37px;
			background-color: #fefefe;
			border: 2px solid #e7e7e7;
			border-radius: 5px;

			.secretsHeader {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 18px;

				&__title {
					font-size: 2.2rem;
					font-weight: 600;
					color: #202428;
				}

				.buttonsWrapper {
					display: flex;
					align-items: center;

					.revoke {
						display: flex;
						align-items: center;
						justify-content: space-around;
						width: 157px;
						padding: 12px;
						margin-inline-end: 12px;
						border: 2px solid #462a93;
						border-radius: 5px;

						&__title {
							font-size: 1.7rem;
							font-weight: 400;
							color: #33383e;
						}

						&__icon {
							fill: #33383e;
						}
					}

					.create {
						width: 157px;
						padding: 12px;
						background-color: #2355a0;
						border: 2px solid #462a93;
						border-radius: 5px;

						&__title {
							font-size: 1.7rem;
							font-weight: 556;
							color: #fefefe;
						}
					}
				}
			}

			&__table {
				table {
					width: 100%;
					border-collapse: collapse;
				}

				th {
					padding-bottom: 4px;
					font-size: 1.7rem;
					font-weight: 400;
					color: #4b4a65;
					text-align: left;
					border-bottom: 2px solid #e7e7e7;

					&:first-child {
						padding-inline-start: 20px;
					}

					&:last-child {
						text-align: center;
					}

					&:nth-last-child(2) {
						text-align: center;
					}
				}

				td {
					padding: 10px 0;
					font-size: 1.7rem;
					color: #8b8b8b;

					&:first-child {
						padding-inline-start: 20px;
					}

					&:last-child {
						text-align: center;
					}

					&:nth-last-child(2) {
						text-align: center;
					}
				}

				tr:nth-child(even) {
					background-color: #e7e7e7;
				}
			}

			.footer {
				padding: 5px 0 5px 20px;

				&__text {
					display: flex;
					align-items: center;
					font-size: 1.7rem;
					color: #bbb8ca;
				}
			}
		}
	}
}
