@use 'sass:map';

@use '@/styles/variables.module.scss';

.container {
	display: flex;
	height: calc(100vh - 186px);
	padding-block: map.get(variables.$sizes, spacing-xl) map.get(variables.$sizes, spacing-xxl-3);
	padding-inline: map.get(variables.$sizes, spacing-xxl);
}

.descriptionContainer {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	width: 314px;
	padding-bottom: map.get(variables.$sizes, spacing-l);
	border-bottom: 2px solid map.get(variables.$colors, greys-platinum);

	.descriptionHeader {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: map.get(variables.$sizes, spacing-xl);

		&__text {
			font-size: 2.1rem;
			font-weight: 500;
			color: map.get(variables.$colors, blacks-dark-gunmetal);
		}

		&__icon {
			width: auto;
			height: 12.9px;
			cursor: pointer;
			fill: transparent;
			stroke: map.get(variables.$colors, greys-onyx);
		}
	}

	&__textarea {
		font-size: 1.7rem;
		color: map.get(variables.$colors, greys-onyx);
		resize: none;

		&::placeholder {
			font-style: italic;
		}
	}
}

.policiesTable {
	width: 100%;
	margin-inline-end: map.get(variables.$sizes, spacing-xl);

	.policyLibraryContainer {
		display: flex;
		align-items: center;

		&__img {
			width: 20px;
			object-fit: contain;
			margin-inline-end: map.get(variables.$sizes, spacing-s);
		}
	}
}
