@use 'sass:map';

@import '../../../../styles/variables.scss';

.container {
	margin-top: 780px;
}

@media (max-width: map.get($sizes, main-ipad-width)) {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: map.get($sizes, main-ipad-width);
		padding: 0 map.get($sizes, minimal-mobile-padding);
		margin-top: 0px;
		height: 1324px;
		background-image: url('../../../../../public/images/quick-setup-mobile-bg.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}
