@use 'sass:map';

@use '@/styles/variables.scss';

.container {
	position: fixed;
	z-index: 1;
	display: flex;
	width: 258px;
	opacity: 0;
	transition: 0.3s ease-in opacity;
	inset-block-end: map.get(variables.$sizes, spacing-xxl);
	inset-inline-end: map.get(variables.$sizes, spacing-xxl);

	&--fullOpacity {
		opacity: 1;
	}
}

.notificationBorder {
	width: 3px;

	&--info {
		background-color: map.get(variables.$colors, greys-onyx);
	}

	&--checkmark {
		background-color: map.get(variables.$colors, greens-japanese-laurel);
	}

	&--warning {
		background-color: map.get(variables.$colors, yellows-deep-lemon);
	}

	&--error {
		background-color: map.get(variables.$colors, reds-persian-plum);
	}
}

.notificationContent {
	display: flex;
	width: 100%;
	padding: map.get(variables.$sizes, spacing-m) map.get(variables.$sizes, spacing-l);
	border: 2px solid;
	border-inline-start: none;

	&--info {
		background-color: map.get(variables.$colors, whites-white);
		border-color: map.get(variables.$colors, greys-platinum);
	}

	&--checkmark {
		background-color: map.get(variables.$colors, greens-nyanza);
		border-color: map.get(variables.$colors, greens-sea-green);
	}

	&--warning {
		background-color: map.get(variables.$colors, yellows-papaya-whip);
		border-color: map.get(variables.$colors, yellows-deep-lemon-30-p);
	}

	&--error {
		background-color: map.get(variables.$colors, reds-lavender-blush);
		border-color: map.get(variables.$colors, reds-maximum-red);
	}

	&__icon {
		width: auto;
		height: 17.5px;
		margin-inline-end: map.get(variables.$sizes, spacing-l);
	}

	&__closeIcon {
		width: auto;
		height: 8px;
		cursor: pointer;
		fill: map.get(variables.$colors, greys-onyx);
	}

	.textContainer {
		display: flex;
		flex-direction: column;
		width: 100%;

		&__title {
			font-size: 1.5rem;
			font-weight: 600;
			color: map.get(variables.$colors, greys-onyx);
		}

		&__message {
			margin-top: map.get(variables.$sizes, spacing-xs);
			font-size: 1.5rem;
			color: map.get(variables.$colors, greys-onyx);
		}
	}
}
