@use 'sass:map';

@import '../../../styles/variables.scss';

@keyframes fadeIn {
	0% {
		opacity: 0.7;
	}

	100% {
		opacity: 1;
	}
}

@keyframes dotBouncing {
	0% {
		top: -20px;
		animation-timing-function: ease-in;
	}

	34% {
		transform: scale(1, 1);
	}

	35% {
		top: 20px;
		transform: scale(1.5, 0.5);
		animation-timing-function: ease-out;
	}

	45% {
		transform: scale(1, 1);
	}

	90% {
		top: -20px;
	}

	100% {
		top: -20px;
	}
}

.header {
	display: flex;
	width: 100%;
	padding: 0 map.get($sizes, minimal-web-padding);
	margin-top: 30px;
	background: transparent;

	.innerHeader {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		.leftSideContainer {
			position: relative;
			display: flex;
			align-items: center;

			.brandLogo:hover {
				cursor: pointer;
			}

			.brandLogo {
				width: 172px;
				height: 37px;
			}

			&__bouncingDot::before {
				position: absolute;
				bottom: 40px;
				display: inline-block;
				font-size: 1.8rem;
				content: '🦘';
				animation: dotBouncing 1s infinite;
			}

			.headerMenuText:not(:last-child) {
				margin-inline-end: 133px;
			}

			.headerMenuText {
				position: relative;
				top: 10px;
				display: block;
				padding-bottom: 10px;
				font-size: 2rem;
				color: #fefefe;
				text-decoration: none;
				border-bottom: 9px solid transparent;
			}
		}

		.middleSideContainer {
			z-index: 1;
			display: flex;
			align-items: center;

			.headerMenuItem {
				display: flex;
				align-items: center;
				text-decoration: none;
				cursor: pointer;

				&__text {
					margin-inline-start: 10px;
					font-family: Poppins, sans-serif;
					font-size: 1.6rem;
					font-weight: 500;
					color: #dcdae7;
				}

				&__githubIcon {
					width: 20px;
					height: auto;
				}

				&__discordIcon {
					width: 20px;
					height: auto;
					fill: #dcdae7;
				}
			}

			.headerMenuItem:not(:last-child) {
				margin-inline-end: 23px;
			}
		}

		.rightSideContainer {
			display: flex;
			align-items: center;

			.loginButton {
				margin-inline-end: 10px;
				font-size: 1.6rem;
				font-weight: 500;
				color: #dcdae7;
				text-decoration: none;
			}

			.getStartedButton {
				position: relative;
				z-index: 1;
				display: inline-block;
				padding: 9px 22px;
				font-size: 1.5rem;
				font-weight: 500;
				color: #fefefe;
				background-color: #7a4df3;
				border-radius: 3em;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				text-decoration: none;

				&__text {
					position: relative;
					z-index: 3;
					white-space: nowrap;
				}
			}

			.getStartedButton::after {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				width: 100%;
				height: 100%;
				content: '';
				background-image: linear-gradient(270deg, #dc6794 -28.49%, #9747ff 83.02%);
				border-radius: 3em;
				opacity: 0;
				transition: opacity 1s ease-out;
			}

			.getStartedButton:hover::after {
				opacity: 1;
			}
		}
	}
}

@media (max-width: map.get($sizes, main-ipad-width)) {
	.header {
		padding: 0 map.get($sizes, minimal-mobile-padding);
		margin-top: 23px;

		.innerHeader {
			.leftSideContainer {
				.brandLogo {
					width: 124px;
					height: 27px;
				}

				&__bouncingDot::before {
					font-size: 1.2rem;
				}

				.headerMenuText:not(:last-child) {
					margin-inline-end: 0;
				}
			}

			.middleSideContainer {
				display: none;
			}

			.rightSideContainer {
				.loginButton {
					display: none;
				}
			}
		}
	}
}
