.container {
	display: flex;
	width: 100%;
	height: 100%;

	.main {
		width: 100%;
		height: 100%;
		padding-inline: 106px 120px;
		padding-top: 56px;
		background-color: #f2f2f2;

		.userSettingsSection {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 238px;
			padding-inline-start: 20px;
			padding-top: 25px;
			background-color: #fefefe;
			border: 2px solid #e7e7e7;
			border-radius: 5px;

			&__title {
				font-size: 2.3rem;
				font-weight: 600;
				color: #202428;
			}

			.body {
				display: flex;
				align-items: flex-start;
				margin-top: 27px;

				.usernameWrapper {
					display: flex;
					align-items: center;

					&__icon {
						width: auto;
						height: 28px;
						fill: #4b4a65;
					}

					&__username {
						margin-inline-start: 18px;
						font-size: 2rem;
						font-weight: 500;
						color: #4b4a65;
					}
				}

				.actionsWrapper {
					display: flex;
					flex-direction: column;
					margin-inline-start: 144px;

					.action {
						display: flex;
						align-items: center;
						width: 501px;
						padding: 10px;
						background-color: #f2f2f2;
						border-radius: 5px;

						&:not(:last-child) {
							margin-bottom: 34px;
						}

						&__button {
							font-size: 1.7rem;
							color: #7a4df3;
						}
					}
				}
			}
		}
	}
}
