@use 'sass:map';

@import '../../../styles/variables.scss';

.container {
	display: flex;
	flex-direction: column;
	margin-block: map.get($sizes, spacing-xl) map.get($sizes, spacing-xxl-4);
	border: 2px solid map.get($colors, greys-platinum);
	border-radius: 6px;
}

.actionContainer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: map.get($sizes, spacing-l);
	background-color: map.get($colors, whites-ghost-white);
	border-bottom: 2px solid map.get($colors, greys-platinum);

	&__instruction {
		font-size: 1.5rem;
		font-weight: 500;
		color: map.get($colors, greys-onyx);
	}

	&__fileTypeSelect {
		width: 87px;
		margin-inline: map.get($sizes, spacing-m) map.get($sizes, spacing-l);
	}

	&__fileTypeSelectInner {
		background-color: map.get($colors, whites-ghost-white) !important;
	}

	&__fileTypeSelectInnerOptions {
		background-color: map.get($colors, whites-ghost-white) !important;
	}
}

.codeContainer {
	padding: map.get($sizes, spacing-l);
}

/* stylelint-disable-next-line selector-class-pattern */
:global(.cm-gutters) {
	margin-inline-end: map.get($sizes, spacing-l);
}

/* stylelint-disable-next-line selector-class-pattern */
:global(.cm-focused) {
	outline: none !important;
}

/* stylelint-disable-next-line selector-class-pattern */
:global(.cm-line) {
	font-size: 1.2rem;
}

/* stylelint-disable-next-line selector-class-pattern */
:global(.cm-gutterElement) {
	min-width: 0 !important;
	font-size: 1.2rem;
}

/* stylelint-disable-next-line selector-class-pattern */
:global(.cm-lineNumbers) {
	margin-inline-end: map.get($sizes, spacing-l);
}
