@use 'sass:map';

@use '@/styles/variables.scss';

.container {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	background-color: map.get(variables.$colors, greys-backdrop);
}
