@use 'sass:map';

@use '@/styles/variables.scss';

.container {
	display: flex;
	flex-direction: column;
	padding-block: map.get(variables.$sizes, spacing-l);
	padding-inline-end: map.get(variables.$sizes, spacing-xxl);
	overflow-y: auto;
}
