@use 'sass:map';

@use '@/styles/variables.module.scss';

.button {
	color: map.get(variables.$colors, reds-persian-plum);
	background-color: map.get(variables.$colors, whites-ghost-white);
	box-shadow: inset 0 0 0 2px map.get(variables.$colors, greys-platinum);
}

.container {
	position: absolute;
	z-index: 1;
	display: flex;
	flex-direction: column;
	width: 570px;
	overflow: hidden;
	border: 2px solid map.get(variables.$colors, blacks-yankees-black-blue);
	border-radius: 5px;
	transform: translate(-50%, -50%);
	inset-block-start: 50%;
	inset-inline-start: 50%;
}

.header {
	display: flex;
	padding: map.get(variables.$sizes, spacing-m) map.get(variables.$sizes, spacing-l);
	background-color: map.get(variables.$colors, blacks-dark-gunmetal);

	.headerButton {
		display: flex;
		align-items: center;

		&__icon {
			width: auto;
			height: 11px;
			margin-inline-end: map.get(variables.$sizes, spacing-s);
			fill: map.get(variables.$colors, whites-white);
		}

		&__text {
			font-size: 1.7rem;
			font-weight: 500;
			color: map.get(variables.$colors, whites-white);
		}
	}
}

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: map.get(variables.$sizes, spacing-xxl) map.get(variables.$sizes, spacing-xxl-3);
	background-color: map.get(variables.$colors, whites-white);

	&__logo {
		width: 64.2px;
		object-fit: contain;
	}

	&__header {
		margin-block: map.get(variables.$sizes, spacing-xl) map.get(variables.$sizes, spacing-l);
		font-size: 2.4rem;
		font-weight: 500;
		color: map.get(variables.$colors, blacks-dark-gunmetal);
		text-align: center;
	}

	&__subHeader {
		font-size: 2.1rem;
		color: map.get(variables.$colors, blacks-dark-gunmetal);
		text-align: center;
	}

	&__actionText {
		margin-block: map.get(variables.$sizes, spacing-xl) map.get(variables.$sizes, spacing-l);
		font-size: 2.1rem;
		color: map.get(variables.$colors, blacks-dark-gunmetal);

		&--phraseText {
			color: map.get(variables.$colors, reds-persian-plum);
		}
	}

	&__input {
		width: 293px;
		padding: map.get(variables.$sizes, spacing-m);
		margin-bottom: map.get(variables.$sizes, spaicng-l);
		font-size: 1.7rem;
		font-weight: 500;
		color: map.get(variables.$colors, greys-independence-grey);
		border: 2px solid map.get(variables.$colors, greys-platinum);
		border-radius: 10px;

		&::placeholder {
			opacity: 1;
		}
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 104px;
		height: 44px;
		padding: map.get(variables.$sizes, spacing-xl) map.get(variables.$sizes, spacing-m);
		margin-top: map.get(variables.$sizes, spacing-l);
		font-size: 1.7rem;
		color: map.get(variables.$colors, greys-platinum);
		background-color: map.get(variables.$colors, blacks-dark-gunmetal);
		border: 2px solid map.get(variables.$colors, blacks-harsh-black);
		border-radius: 10px;

		&:disabled {
			color: map.get(variables.$colors, greys-philippine-gray);
			background-color: map.get(variables.$colors, greys-platinum);
			border-color: map.get(variables.$colors, greys-silver-sand);
		}
	}
}
