@use 'sass:map';

@use '@/styles/variables.module.scss';

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content {
	display: flex;
	padding: map.get(variables.$sizes, spacing-xl) map.get(variables.$sizes, spacing-xxl-5);
}
