@use 'sass:map';

@use '@/styles/variables.scss';

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding-inline: map.get(variables.$sizes, spacing-xxl);
	background-image: linear-gradient(
		242.44deg,
		#ae7dfd -30.7%,
		map.get(variables.$colors, blacks-yankees-black-blue) 36.93%,
		map.get(variables.$colors, blacks-yankees-black-blue) 62.82%,
		map.get(variables.$colors, purples-purple) 129.61%
	);

	&__img {
		height: 50px;
		object-fit: contain;
	}

	.documentationLink {
		display: flex;
		align-items: center;
		text-decoration: none;

		&__text {
			margin-inline-end: map.get(variables.$sizes, spacing-m);
			font-size: 1.5rem;
			font-weight: 500;
			color: map.get(variables.$colors, greys-platinum);
		}

		&__icon {
			width: auto;
			height: 16.1px;
			fill: map.get(variables.$colors, greys-platinum);
		}
	}
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;

	.notFoundContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 314px;
		background-image: linear-gradient(
			90deg,
			map.get(variables.$colors, purples-purple),
			map.get(variables.$colors, blacks-harsh-black) 63%
		);

		.notFoundTextContainer {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-inline-end: map.get(variables.$sizes, spacing-xxl);

			&__header {
				font-size: 10rem;
				color: map.get(variables.$colors, whites-white);
				text-shadow: 0 10px 20px #00000040;
			}

			&__subHeader {
				font-size: 5.22rem;
				color: map.get(variables.$colors, whites-white);
				text-align: end;
				text-shadow: 0 10px 20px #00000040;
			}
		}

		&__img {
			height: 234px;
			object-fit: contain;
			box-shadow: 0 4px 4px #00000040;
		}
	}

	.returnLink {
		padding: map.get(variables.$sizes, spacing-l);
		margin-block: map.get(variables.$sizes, spacing-xxl);
		font-size: 2.1rem;
		font-weight: 500;
		color: map.get(variables.$colors, blacks-dark-gunmetal);
		text-decoration: none;
		border: 2px solid map.get(variables.$colors, greys-onyx);
		border-radius: 6px;
	}

	.contact {
		font-size: 2.1rem;
		color: map.get(variables.$colors, greys-onyx);

		&__link {
			color: map.get(variables.$colors, purples-purple);
		}
	}
}
