@use 'sass:map';

@use '@/styles/variables.module.scss';

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: map.get(variables.$sizes, spacing-l) map.get(variables.$sizes, spacing-xxl);
	border: 1px solid map.get(variables.$colors, greys-platinum);
}

.routeDetails {
	font-size: 1.5rem;
	color: map.get(variables.$colors, greys-onyx);

	&__route {
		color: map.get(variables.$colors, purples-purple);
	}
}

.accountDetails {
	display: flex;
	align-items: center;

	&__rawText {
		font-size: 1.5rem;
		color: map.get(variables.$colors, greys-independence-grey);
	}

	.clientIdContainer {
		margin-inline: map.get(variables.$sizes, spacing-m) map.get(variables.$sizes, spacing-xl);
	}
}
