.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 26px 0 0 40px;

	.header {
		display: flex;
		flex-direction: column;

		&__title {
			font-size: 2rem;
			font-weight: 600;
		}

		&__description {
			margin-top: 15px;
			font-size: 1.8rem;
		}
	}

	.innerWrapper {
		display: flex;
		align-items: center;
		justify-content: space-around;

		.copyWrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-top: 40px;

			&__title {
				font-size: 2rem;
				font-weight: 600;
			}

			.idWrapper {
				display: flex;
				align-items: center;
				justify-content: space-between;
				min-width: 200px;
				padding: 7px;
				margin-top: 15px;
				border: 1px solid #bbb8ca;
				border-radius: 5px;

				&__id {
					font-size: 2rem;
					color: #8b8b8b;
				}

				&__icon {
					margin-inline-start: 8px;
					cursor: pointer;
					fill: #8b8b8b;

					&--disabled {
						pointer-events: none;
						cursor: context-menu;
					}
				}
			}

			&__copied {
				position: absolute;
				margin-top: 110px;
				font-size: 1.5rem;
				color: #2355a0;
			}
		}

		.downloadCsv {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 40px 30px 0 0;

			&__title {
				font-size: 2rem;
				font-weight: 600;
			}

			&__iconWrapper {
				margin-top: 15px;
			}

			&__icon {
				width: 40px;
				height: 40px;
				cursor: pointer;
				fill: #4b4a65;
			}
		}
	}

	&__button {
		align-self: flex-end;
		padding: 10px 20px;
		margin: auto 20px 20px 0;
		font-size: 1.4rem;
		font-weight: 600;
		color: #fefefe;
		cursor: pointer;
		background-color: #2355a0;
		border: 1px solid #462a93;
		border-radius: 4px;
	}
}
