.selectedOptionsContainer {
	position: relative;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-shadow: (0 11.4496px 15.6131px #0000000d);

	.selectedOptionsVisible {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		padding: 10px 14px;
		white-space: nowrap;
		background-color: #fefefe;

		&__text {
			font-size: 1.5rem;
			font-weight: 360;
			color: #4b4a65;
		}

		.moreOptionsButton {
			&__arrowDown {
				width: 11px;
				height: 8px;
				fill: transparent;
				stroke: #202428;
			}

			&__arrowRight {
				width: 8px;
				height: 11px;
				fill: transparent;
				stroke: #202428;
			}
		}
	}

	.selectedOptionsInvisible {
		position: absolute;
		top: 40px;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding: 10px 14px;
		white-space: nowrap;
		background-color: #fefefe;
		border-radius: 0 0 10px 10px;

		&__divider {
			width: 100%;
			margin-bottom: 9px;
			border: 1px solid #e7e7e7;
		}

		&__text {
			font-size: 1.5rem;
			font-weight: 360;
			color: #4b4a65;
		}

		&__option {
			font-size: 1.5rem;
			font-weight: 360;
			color: #4b4a65;
			text-align: left;
		}

		&__option:not(:last-child) {
			margin-bottom: 5px;
		}
	}
}
