table {
	width: 100%;
	border-collapse: collapse;
}

th {
	padding-bottom: 4px;
	font-size: 1.7rem;
	font-weight: 400;
	color: #4b4a65;
	text-align: left;
	border-bottom: 2px solid #e7e7e7;

	&:first-child {
		padding-inline-start: 20px;
	}

	&:last-child {
		text-align: center;
	}

	&:nth-last-child(2) {
		text-align: center;
	}
}

td {
	padding: 10px 0;
	font-size: 1.7rem;
	color: #8b8b8b;

	&:first-child {
		padding-inline-start: 20px;
	}

	&:last-child {
		text-align: center;
	}

	&:nth-last-child(2) {
		text-align: center;
	}
}

tr:nth-child(even) {
	background-color: #e7e7e7;
}

.editLabel {
	width: 17px;
	height: auto;
	margin-left: 7px;
	fill: none;
	stroke: #8b8b8b;
	stroke-width: 1.64427;
}

.refreshSecret {
	display: block;
	width: 35px;
	height: auto;
	margin: 0 auto;
	fill: #8b8b8b;
}

.trashCanCircled {
	display: block;
	width: 35px;
	height: auto;
	margin: 0 auto;
	fill: #8b8b8b;
}
