@use 'sass:map';

@use '@/styles/variables.scss';

.container {
	display: flex;
	flex-direction: column;
	margin-block: map.get(variables.$sizes, spacing-xl) map.get(variables.$sizes, spacing-xxl-4);
	border: 2px solid map.get(variables.$colors, greys-platinum);
	border-radius: 6px;

	.configurationsInputs {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0 map.get(variables.$sizes, spacing-xl);
	}
}

.actionContainer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: map.get(variables.$sizes, spacing-l);
	background-color: map.get(variables.$colors, whites-ghost-white);
	border-bottom: 2px solid map.get(variables.$colors, greys-platinum);

	.switch {
		margin-inline-end: map.get(variables.$sizes, spacing-l);
	}
}
