@use 'sass:map';

@use '@/styles/variables.module.scss';

.container {
	display: flex;
	flex-direction: column;
	margin-bottom: map.get(variables.$sizes, spacing-xxl);

	&__disclaimer {
		padding: map.get(variables.$sizes, spacing-l);
		margin-bottom: map.get(variables.$sizes, spacing-l);
		font-size: 1.5rem;
		color: map.get(variables.$colors, greys-onyx);
		background-color: map.get(variables.$colors, blues-light-cyan);
		border: 2px solid map.get(variables.$colors, blues-weldon-blue);
		border-radius: 6px;
	}
}

.createdSecretContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: map.get(variables.$sizes, spacing-m) map.get(variables.$sizes, spacing-l);
	background-color: map.get(variables.$colors, greens-nyanza);
	border: 2px solid map.get(variables.$colors, greys-platinum);
	border-radius: 6px;

	.createdSecretDetails {
		display: flex;
		align-items: center;

		&__successIcon {
			width: auto;
			height: 9px;
			fill: transparent;
			stroke: map.get(variables.$colors, greens-japanese-laurel);
		}

		&__value {
			margin-inline: map.get(variables.$sizes, spacing-s);
			font-size: 1.5rem;
			color: map.get(variables.$colors, greys-independence-grey);
		}

		&__copyIcon {
			width: auto;
			height: 18px;
			cursor: pointer;
			fill: map.get(variables.$colors, greys-independence-grey);
		}
	}

	&__deleteAction {
		padding: map.get(variables.$sizes, spacing-m) map.get(variables.$sizes, spacing-l);
		font-size: 1.5rem;
		color: map.get(variables.$colors, reds-persian-plum);
		background-color: map.get(variables.$colors, whites-ghost-white);
		border: 2px solid map.get(variables.$colors, greys-platinum);
		border-radius: 6px;
	}
}
