@use 'sass:map';

@import '../../../styles/variables.scss';

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 175px;
	margin-bottom: 50px;
	background: linear-gradient(270deg, #4f339b 46.97%, #000 93.64%);

	&__img {
		height: 55px;
		object-fit: contain;
	}
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
	padding: 20px 10px;
	font-size: 2.1rem;
	color: map.get($colors, grey-text);
	background-color: #f7f7f7;

	&__contact {
		color: map.get($colors, purple-text);
		text-decoration: none;
	}
}
