@use 'sass:map';

@use '@/styles/variables.scss';

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 176px;
	background-image: linear-gradient(
		242.44deg,
		#ae7dfd -30.7%,
		map.get(variables.$colors, blacks-yankees-black-blue) 36.93%,
		map.get(variables.$colors, blacks-yankees-black-blue) 62.82%,
		map.get(variables.$colors, purples-purple) 129.61%
	);

	&__img {
		height: 56px;
		object-fit: contain;
	}
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
	padding: map.get(variables.$sizes, spacing-xl) map.get(variables.$sizes, spacing-xxl);
	font-size: 2.1rem;
	color: map.get(variables.$colors, grey-text);
	background-color: map.get(variables.$colors, greys-anti-flash-grey-white);

	&__contact {
		color: map.get(variables.$colors, purples-purple);
		text-decoration: none;
	}
}
