.group {
	display: flex;

	.innerGroup {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: min-content;
		padding: 0 24px;

		.leftSideContainer {
			display: flex;
			flex-direction: column;
			&__title {
				font-size: 2.4rem;
				font-weight: 560;
				color: #202428;
			}

			.uniqueIdContainer {
				display: flex;
				align-items: center;

				&__text {
					font-size: 1.6rem;
					font-weight: 460;
					color: #4b4a65;
					margin: 12px 4px 12px 0;
				}

				&__icon {
					height: 22px;
					width: 21px;
				}
			}

			.policiesContainer {
				display: flex;
				align-items: center;

				&__text {
					font-size: 1.6rem;
					font-weight: 460;
					color: #4b4a65;
					margin-right: 4px;
				}

				&__policy:not(:last-child) {
					margin-right: 4px;
				}

				&__policy {
					height: 27px;
					width: 27px;
					background-color: #d9d9d9;
					border-radius: 5px;
				}
			}
		}

		.getInfoButton {
			display: flex;
			align-items: center;
			&__icon {
				fill: transparent;
			}
		}
	}
}
